{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>BraintreeFlaskExample</title>
    <link rel=stylesheet type=text/css href="{% static 'css/app.css' %}">
    <link rel=stylesheet type=text/css href="{% static 'css/overrides.css' %}">
</head>

<body>
    <header class="main">
        <div class="container wide">
            <div class="content slim">
                <div class="set">
                    <div class="fill">
                        <a class="pseudoshop" href="/">PSEUDO<strong>SHOP</strong></a>
                    </div>

                    <div class="fit">
                        <a class="braintree" href="https://developers.braintreepayments.com/guides/drop-in"
                            target="_blank">Braintree</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="notice-wrapper">
            {% for message in messages %}
            <div class="show notice error notice-error">
                <span class="notice-message">{{ message }}</span>
            </div>
            {% endfor %}
        </div>
    </header>

    {% block content %}{% endblock %}
    <script src="{% static 'javascript/demo.js' %}"></script>
</body>

</html>