{% extends 'hupleruser/base.html' %}
{% block title %} Log in {% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
{% endblock content %}
